body {
  background-color: #E2E2E2;
  font-family: 'Trebuchet MS';
  padding: 2em;
}
table {
  border-collapse: collapse;
  border: 1px solid #000;
}
th {
  background-color: #FC9;
  color: #f0f0ea; 
}
th, td {
  border-left: 1px solid #A0A0A0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
th + th {
  border-left: 1px solid #f0f0ea;
}
form span {
  display: block;
  float: left;
  width: 10em;
  clear: left;
}
form input {
  margin-top: 0px;
}

